@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  // NAVBAR MENU
  .NavBar {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 2;
    border-radius: 0em 0em 5em 5em;
    width: 59%;
    margin-left: 21%;
    height: 33px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: white;
    }

    &::before {
      top: -8px;
      left: 1px;
      transform: rotate(79deg);
    }

    &::after {
      top: -8px;
      right: 1px;
      transform: rotate(-68deg);
    }
  }

  .NavBar-Container {
    background-color: #dbd6d6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 25px;
    border-radius: 1rem;
  }

  .home-link {
    width: 100px;
    height: 50px;

    &.active {
      background-color: #dbd6d6;
      // background: linear-gradient(#ebf4f5 #b5c6e0);
      background-image: url("../assets/home2.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      margin: 0.5em;
    }
  }

  .presentation-link {
    width: 100px;
    height: 50px;

    &.active {
      background-color: #dbd6d6;
      background-image: url("../assets/user.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      margin: 0.5em;
    }
  }

  .projects-link {
    width: 100px;
    height: 50px;

    &.active {
      background-color: #dbd6d6;
      background-image: url("../assets/project.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      margin: 0.5em;
    }
  }

  .contact-link {
    width: 100px;
    height: 50px;

    &.active {
      background-color: #dbd6d6;
      background-image: url("../assets/phone.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      margin: 0.5em;
    }
  }

  // HOME SECTION

  .home {
    background-image: url(../assets/background7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 3px 2px rgb(0, 0, 0);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    margin: 1em;
    color: white;

    .fullstack {
      font-size: 25px;
      margin: 5px;
      font-weight: 700;
    }
    .welcome {
      font-size: 25px;
      margin-top: 3em;
      font-weight: 700;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
    margin: 1em;
  }

  // PRESENTATION SECTION

  .presentation-container {
    background: linear-gradient(-45deg, #ffffff, #f8f5f6, #f4f1f1);
    height: auto;
    width: 92%;
    margin-left: 17px;
    margin-top: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 2em 2em 2em 2em;
    color: black;
    text-align: justify;
    padding: 15px;
    box-shadow: 0 0 3px 2px rgb(0, 0, 0);

    .presentation-title {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    .presentation-title2 {
      font-size: 15px;
    }
  }
  // TECHNICAL STACK

  .technical-text-container {
    background: linear-gradient(-45deg, #ffffff, #f8f5f6, #f4f1f1);
    height: auto;
    width: 92%;
    margin-left: 17px;
    margin-top: 1em;
    margin-bottom: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 2em 2em 2em 2em;
    color: black;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    box-shadow: 0 0 3px 2px rgb(0, 0, 0);

    .technical-title {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    .technical-text {
      font-size: 15px;
      margin-bottom: 19px;

      &.management {
        margin-bottom: 0;
      }
    }
  }

  // STACK IMAGES

  .stack-container {
    grid-area: 1 / 1 / 3;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;

    .container {
      background-repeat: no-repeat;
      background-size: cover;
      width: 34px;
      height: 34px;
    }

    .html {
      background-image: url(../assets/stack/html.png);
    }
    .css {
      background-image: url(../assets/stack/css3.png);
    }
    .javascript {
      background-image: url(../assets/stack/js.png);
    }
    .react {
      background-image: url(../assets/stack/react.png);
    }
    .node {
      background-image: url(../assets/stack/nodejs.png);
    }
    .mysql {
      background-image: url(../assets/stack/mysql.png);
    }
    .postman {
      background-image: url(../assets/stack/postman.png);
    }
  }

  // PROJECT
  .project-container {
    background: linear-gradient(-45deg, #ffffff, #f8f5f6, #f4f1f1);
    height: auto;
    width: 90%;
    margin: 1em;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 2em 2em 2em 2em;
    color: black;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    box-shadow: 0 0 3px 2px rgb(0, 0, 0);
    overflow-x: hidden;

    .project-image {
      background-image: url(../assets/street-art-devices2.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 274px;
    }

    .project-description {
      margin-top: 1em;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .project-use-description {
      margin-top: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .link-streetart {
      margin-left: 30%;
      margin-top: 10px;
      font-weight: 600;
      font-size: 20px;
    }
  }

  span {
    font-weight: 500;
  }
  // CONTACT

  .contact-container {
    background-image: url(../assets/background7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 3px 2px rgb(0, 0, 0);
    height: 100px;
    border-radius: 1em;
    margin: 1em;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    .contact-title {
      margin-left: 34%;
      padding-top: 10px;
      font-size: 25px;
    }

    .contact-details {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 1em;
    }
  }
  @media screen and (min-width: 768px) {
    nav {
      width: 80%;
      margin: auto;
    }
    .link {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1em;
    }
  }
}
