@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans", sans-serif;
}

// NAVBAR MENU
.NavBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  z-index: 2;
  border-radius: 0em 0em 5em 5em;
  width: 59%;
  margin-left: 21%;
  height: 42px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
  }

  &::before {
    top: -7px;
    left: -3px;
    transform: rotate(63deg);
  }

  &::after {
    top: -6px;
    right: -1px;
    transform: rotate(-68deg);
  }
}

.NavBar-Container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 29px;
  border-radius: 1rem;
}

.home-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    // background: linear-gradient(#ebf4f5 #b5c6e0);
    background-image: url("../assets/home2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.presentation-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.projects-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/project.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.contact-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

// HOME SECTION

.home-container {
  // background-color: #0c0c0c;
  background: linear-gradient(-45deg, #181819, #0c0c0c, #242525);

  // background-repeat: no-repeat;
  // background-size: cover;
  height: 500px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  margin: 1em;

  .home {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcome-title {
      font-size: 25px;
      font-style: italic;
    }
    .intro-title {
      font-size: 20px;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto;
  overflow-x: hidden;
  margin: 1em;
}

// PRESENTATION SECTION

.presentation-title-container {
  padding: 1% 0% 1% 2%;
  margin-left: 1%;
  grid-area: auto;

  .grey-background {
    background-color: #f2f2f2;
    width: 81%;
    position: absolute;
    height: 10.5em;
    border-radius: 2em 2em 2em 2em;

    .title {
      font-size: 21px;
      margin-left: 1em;
      margin-top: 0.5em;
      position: relative;
    }
  }
  .presentation-container {
    background: linear-gradient(-45deg, #181819, #0c0c0c, #242525);
    height: 6.5em;
    position: relative;
    display: flex;
    align-items: flex-start;
    border-radius: 1em 1em 1em 1em;
    margin-top: 3em;
    margin-left: 1em;
    padding: 3%;
    width: 92%;

    .presentation-title2 {
      color: white;
      font-size: 15px;
      text-align: justify;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
}

// TECHNICAL STACK

.technical-container {
  margin-top: 1em;
  padding: 1% 0% 1% 2%;
  margin-left: 1%;
  grid-area: auto;

  .grey-technical {
    background-color: #f2f2f2;
    width: 81%;
    position: absolute;
    border-radius: 2em 2em 2em 2em;
    grid-area: 3 / 3 / 3;
    height: 25em;
  }

  .technical-text-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #181819, #0c0c0c, #242525);
    // background-image: url(../assets/bottom_night.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    display: flex;
    align-items: flex-start;
    border-radius: 1em 1em 1em 1em;
    position: relative;
    color: white;
    text-align: justify;
    margin-top: 1em;
    margin-left: 1em;
    padding: 3%;
    width: 92%;
    height: auto;

    .technical-title {
      font-size: 18px;
      margin-bottom: 1%;
    }

    .technical-text {
      font-size: 15px;
      margin-bottom: 1em;
    }
  }
}

// STACK
.stack-container {
  grid-area: 1 / 1 / 3;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;

  .container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
  }

  .html {
    background-image: url(../assets/stack/html.png);
  }
  .css {
    background-image: url(../assets/stack/css3.png);
  }
  .javascript {
    background-image: url(../assets/stack/js.png);
  }
  .react {
    background-image: url(../assets/stack/react.png);
  }
  .node {
    background-image: url(../assets/stack/nodejs.png);
  }
  .mysql {
    background-image: url(../assets/stack/mysql.png);
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 80%;
    margin: auto;
  }
  .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
}
