@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body,
html {
  overflow-x: hidden;
}
body {
  background-color: #f8f8f8;
}

// NAVIGATION BAR MENU
.NavBar {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  overflow-x: hidden;

  .burger-menu {
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: 1000;

    .burger-image {
      background-image: url(../assets/menu-burger.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 40px;
    }
  }

  .menu {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 25px;
      top: 60px;
      width: 150px;
      background-color: #f8f8f8;
      z-index: 900;

      .menu-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        font-size: 15px;

        a {
          color: black;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 15px;
        }
        .section-menu {
          margin-top: 11px;
        }
      }
    }
  }
}

.language-toggle {
  position: absolute;
  width: 60px;
  height: 32px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  right: 30px;
  top: 18px;
  z-index: 1100;
}

.slider {
  height: 100%;
  width: 100%;
  color: white;
  line-height: 32px;
  text-align: center;
  position: absolute;
  border-radius: 20px;
}

.slider.english {
  background-color: #c12358;
}

.slider.french {
  background-color: #03045e;
}

// HOME SECTION
.home {
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 9em;
  margin-left: 20%;

  &.menu-active {
    margin-top: 230px;
  }

  .fullstack {
    font-size: 30px;
    margin-bottom: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #03045e;
  }

  .name {
    font-size: 25px;
    letter-spacing: 7px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .surname {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 29px;
  }

  .container-for-animation {
    display: flex;
    flex-direction: row;

    .arrow {
      background-image: url(../assets/arrow.png);
      background-size: cover;
      background-repeat: no-repeat;
      height: 21px;
      width: 11px;
      margin-right: 10px;
    }
    .moving-presentation {
      height: 3px;
    }
  }

  .contact-container-home {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: solid;
    border-radius: 13px;
  }

  .github {
    background-image: url(../assets/github.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
    margin-right: 20px;
  }

  .linkedin {
    background-image: url(../assets/linkedin.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    margin-right: 20px;
    margin-top: 4px;
  }

  .email {
    background-image: url(../assets/email.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin-top: 4px;
    margin-right: 7px;
  }
}

// PRESENTATION SECTION

.grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto;
  overflow-x: hidden;
  margin: 1em;
  margin-top: 7em;
}

.presentation-main-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-top: 5px;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  .presentation-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #00388e;
  }
  .presentation-second-container {
    font-size: 15px;
    .presentation-one,
    .presentation-two,
    .presentation-three {
      margin-bottom: 12px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
  }
}

// TECHNICAL STACK

.expertise-category-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-bottom: 5px;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  text-align: justify;

  .bullet-point-image {
    display: flex;
    flex-direction: row;
  }

  .expertise-category-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #00388e;
  }

  .technical-text {
    font-size: 15px;
    margin-bottom: 19px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

// STACK IMAGES

.stack-container {
  grid-area: 1 / 1 / 3;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;

  .container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
  }

  .html {
    background-image: url(../assets/stack/html.png);
  }
  .css {
    background-image: url(../assets/stack/css3.png);
  }
  .javascript {
    background-image: url(../assets/stack/js.png);
  }
  .typescript {
    background-image: url(../assets/stack/typescript.png);
  }
  .react {
    background-image: url(../assets/stack/react.png);
  }
  .node {
    background-image: url(../assets/stack/nodejs.png);
  }
  .mysql {
    background-image: url(../assets/stack/mysql.png);
  }
  .postman {
    background-image: url(../assets/stack/postman.png);
  }
}

// PROJECT

.grid-container-projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  overflow-x: hidden;
  margin: 1em;
  justify-items: center;
}

.projects-introduction-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.global-projects-container {
  height: auto;
  width: fit-content;
  margin: 1em;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;

  .project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #03045e;
    box-shadow: #ccc;
  }

  .project-image {
    // height: 210px;
    // width: 210px;
    height: 220px;
    width: 290px;
  }

  .project-short-description {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;

    .how-to-use {
      margin-top: 1em;
    }
  }

  .technology-list-container {
    .technology-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      margin-bottom: 1em;
      margin-top: 2em;
      padding: 1px;
      color: white;
      background-color: #7b0063;
      border-radius: 15px;
      box-shadow: #ccc;
    }

    li {
      position: relative;
      margin-bottom: 5px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;

      &::before {
        content: "\2022";
        position: absolute;
        left: -15px;
        color: #000;
      }
    }
  }

  .functionnalities-list-container {
    .functionnalites-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      margin-bottom: 1em;
      margin-top: 2em;
      padding: 1px;
      color: white;
      background-color: #ed6a4a;
      border-radius: 15px;
      box-shadow: #ccc;
    }

    .functionalities {
      display: flex;
      // align-items: center;
      flex-direction: column;
    }
    li {
      position: relative;
      margin-bottom: 5px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;

      &::before {
        content: "\2022";
        position: absolute;
        left: -15px;
        color: #000;
      }
    }
  }
  .link {
    margin-top: 1em;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #03045e;
  }
}

// CONTACT

.contact-container {
  // height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;

  .contact-title {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .contact-details {
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  }
  .contact-link {
    color: #0000d1;
    font-weight: bold;
    cursor: pointer;
  }

  .signature {
    font-size: 14px;
    margin-top: 1em;
    color: #03045e;
  }
}

@media screen and (min-width: 400px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .grid-container {
    .project-use-description {
      width: 79%;
    }
  }
  .project-container {
    .project-image {
      height: 240px;
      width: 290px;
    }
  }
}

@media screen and (min-width: 500px) {
  // .grid-container {
  //   margin-top: 5em;
  // }
  .project-use-description {
    width: 70%;
  }
  .project-container {
    .project-image {
      height: 247px;
      width: 290px;
    }
    .project-image-eshop {
      height: 247px;
      width: 290px;
    }
  }
}

@media screen and (min-width: 600px) {
  .NavBar {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .burger-menu {
      display: none;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 10px;

        a {
          color: black;
          font-family: "Montserrat", sans-serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          font-size: 17px;
          text-align: center;
          flex-grow: 1;
        }

        .section-menu {
          margin-top: 10px;
        }
        .section {
          margin-top: 10px;
        }
      }
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    height: 340px;
    margin-left: 30%;
    margin-bottom: 7em;
    .container-social {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
    margin: 1em;
  }

  .stack-container {
    grid-area: 1 / 1 / 2 / 3;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // margin-top: 3em;
    margin-bottom: 2em;

    .container {
      width: 50px;
      height: 50px;
    }
  }

  .presentation-main-container {
    margin-left: 17px;
    margin-top: 1em;
    padding: 2%;
    padding: 15px;
  }
  // TECHNICAL STACK

  .presentation-second-container {
    margin-top: 30px;
  }
  .technical-text-container {
    margin-left: 17px;
    margin-top: 1em;
    margin-bottom: 5px;
    padding: 15px;

    .technical-title {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .technical-text {
      font-size: 15px;
      margin-bottom: 19px;

      &.management {
        margin-bottom: 0;
      }
    }
  }

  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
  }

  .project-use-description {
    width: 75%;
    width: 250px;
    height: 250px;
  }

  .description-text-project {
    height: 215px;
  }

  .project-container {
    margin: 3em;
  }

  .functionnalities {
    margin-left: 5%;
  }

  .contact-details {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 900px) {
  .home {
    margin-left: 33%;
  }

  .home .fullstack {
    font-size: 42px;
  }

  .home .name {
    font-size: 35px;
  }

  .home .surname {
    font-size: 35px;
  }
  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
  }

  .project-container .project-title {
    margin-top: 10px;
    font-size: 25px;
  }
  .project-image {
    height: 315px;
    width: 368px;
  }
  .list-container .project-description {
    margin-left: 3%;
    font-size: 20px;
  }

  .description-text-project {
    height: 212px;
  }

  .functionnalities {
    margin-left: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    height: 470px;
    margin-left: 33%;
    margin-bottom: 5em;
  }
  .home .fullstack {
    font-size: 48px;
  }

  .home .name {
    font-size: 45px;
  }

  .home .surname {
    font-size: 39px;
  }

  .project-container {
    padding: 0;
    margin: 6em;
  }

  .presentation-second-container {
    font-size: 15px;
    line-height: 25px;
  }

  .home .container-social {
    display: flex;
    // justify-content: space-evenly;
    margin-top: 5em;
    width: 40%;
  }

  .presentation-main-container {
    padding: 50px;
  }

  .presentation-main-container .presentation-title {
    font-size: 22px;
  }

  .presentation-second-container {
    margin-top: 35px;
  }
  .technical-text-container {
    padding: 50px;
  }
  .technical-title {
    font-size: 20px;
  }

  .technical-text {
    line-height: 25px;
  }

  .project-container .project-title {
    margin-top: 10px;
    font-size: 30px;
  }

  .project-container .project-image-eshop {
    height: 281px;
    width: 383px;
  }

  .project-container .project-image {
    height: 292px;
    width: 386px;
  }

  .technologies-title {
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;

    .project-description {
      margin-left: 3%;
      font-size: 25px;
    }

    .functionnalities {
      margin-left: 0%;
    }
  }

  .list-container .project-description {
    font-size: 23px;
  }

  .project-use-description {
    margin-top: 2em;
    width: 83%;
    height: 180px;

    .description-text-project {
      height: 140px;
    }
  }

  .project-use-description .link-eshop {
    font-size: 30px;
  }

  .project-use-description .link-streetart {
    font-size: 30px;
  }

  .contact-container .contact-title {
    font-size: 30px;
  }

  .contact-container .contact-details {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    height: 470px;
    margin-left: 42%;
    margin-bottom: 5em;
  }

  .list-test {
    display: flex;
    flex-direction: row;
  }
}
