@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #f8f8f8;
}

body,
html {
  overflow-x: hidden;
}
body {
  background-color: #f8f8f8;
}

// NAVIGATION BAR MENU
.NavBar {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  overflow-x: hidden;

  .burger-menu {
    width: 100vw;
    height: 37px;
    margin-left: 1em;
    margin-top: 13px;
    cursor: pointer;

    .burger-image {
      background-image: url(../assets/menu-burger.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 40px;
    }
  }

  .menu {
    display: none;

    &.active {
      margin-left: 18px;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      max-width: 150px;

      .menu-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        font-size: 15px;

        a {
          color: black;
          font-size: 17px;
        }
        .section-menu {
          margin-top: 11px;
        }
      }
    }
  }
}

// HOME SECTION
.home {
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5em;
  margin-left: 1em;

  &.menu-active {
    margin-top: 180px;
  }

  .fullstack {
    font-size: 30px;
    margin-bottom: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .name {
    font-size: 25px;
    letter-spacing: 7px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .surname {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .container-social {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 150px;
  }

  .github {
    background-image: url(../assets/github.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
  }

  .linkedin {
    background-image: url(../assets/linkedin.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
  }

  .email {
    background-image: url(../assets/email.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
  }
}

// PRESENTATION SECTION

.grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto;
  overflow-x: hidden;
  margin: 1em;
  margin-top: 7em;
}

.presentation-main-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 0 15px 15px 15px;

  .presentation-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}
.presentation-second-container {
  font-size: 15px;

  .presentation-one,
  .presentation-two,
  .presentation-three {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 12px;
  }
}

// TECHNICAL STACK

.technical-text-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-bottom: 5px;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  text-align: justify;

  .bullet-point {
    display: flex;
    flex-direction: row;
  }

  .technical-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .technical-text {
    font-size: 15px;
    margin-bottom: 19px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

// STACK IMAGES

.stack-container {
  grid-area: 1 / 1 / 3;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;

  .container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
  }

  .html {
    background-image: url(../assets/stack/html.png);
  }
  .css {
    background-image: url(../assets/stack/css3.png);
  }
  .javascript {
    background-image: url(../assets/stack/js.png);
  }
  .typescript {
    background-image: url(../assets/stack/typescript.png);
  }
  .react {
    background-image: url(../assets/stack/react.png);
  }
  .node {
    background-image: url(../assets/stack/nodejs.png);
  }
  .mysql {
    background-image: url(../assets/stack/mysql.png);
  }
  .postman {
    background-image: url(../assets/stack/postman.png);
  }
}

// PROJECT
.project-container {
  height: auto;
  width: fit-content;
  margin: 1em;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  border-radius: 2em 2em 2em 2em;
  box-shadow: 0 0 3px 2px #d4d4d4;

  .project-title {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .project-image {
    background-image: url(../assets/street-art-devices2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 240px;
    width: 210px;
  }
}

.project-description {
  font-size: 17px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 1em;
}

.functionnalities {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  list-style: none;
  padding-left: 20px;

  li {
    position: relative;
    margin-bottom: 5px;

    &::before {
      content: "\2022";
      position: absolute;
      left: -15px;
      color: #000;
    }
  }
}

.project-use-description {
  margin: 1em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .how-to-use {
    margin-top: 1em;
  }

  .link-streetart {
    margin-top: 1em;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
  }

  .link-eshop {
    margin-top: 1em;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
  }
}

.grid-container-projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  overflow-x: hidden;
  margin: 1em;
}

span {
  font-weight: 600;
}

// CONTACT

.contact-container {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  .contact-title {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .contact-details {
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .signature {
    font-size: 14px;
    margin-top: 1em;
  }
}

@media screen and (min-width: 400px) {
  .home {
    margin-left: 15px;
    height: 240px;
    .container-social {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      .social-link {
        margin-left: 2em;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .NavBar-Container {
    background-color: #f8f8f8;
    height: 34px;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    .container-social {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }

  .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    // padding-top: 15px;
    background-color: #f8f8f8;
    color: black;
    height: 15px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
    margin: 1em;
  }

  .stack-container {
    grid-area: 1 / 1 / 2 / 3;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;

    .container {
      width: 50px;
      height: 50px;
    }
  }

  .pres-container {
    grid-area: 2 / 1 / 3 / 2;
    max-height: 250px;
    width: 92%;
    margin-left: 17px;
    margin-top: 1em;
    padding: 2%;
    text-align: justify;
    padding: 15px;

    .presentation-title {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    .presentation-title2 {
      font-size: 15px;
    }
  }
  // TECHNICAL STACK

  .technical-text-container {
    grid-area: 2 / 2 / 3 / 3;
    height: auto;
    width: 92%;
    margin-left: 17px;
    margin-top: 1em;
    margin-bottom: 5px;
    padding: 2%;
    padding: 15px;

    .technical-title {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    .technical-text {
      font-size: 15px;
      margin-bottom: 19px;

      &.management {
        margin-bottom: 0;
      }
    }
  }

  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
    margin: 1em;
  }
}
