* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

// NAVBAR MENU
.NavBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  z-index: 2;
  border-radius: 0em 0em 5em 5em;
  width: 80%;
  margin-left: 10%;
  height: 60px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    /* ajuster la taille selon l'effet désiré */
    width: 20px;
    height: 20px;
    /* optionnel: couleur de fond pour accentuer l'effet */
    background-color: white;
  }

  &::before {
    top: -8px;
    left: -4px;
    /* optionnel: changer la direction de l'extension */
    transform: rotate(63deg);
  }

  &::after {
    top: -6px;
    right: -2px;
    /* optionnel: changer la direction de l'extension */
    transform: rotate(-68deg);
  }
}

.NavBar-Container {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 38px;
  border-radius: 1rem;
}

.home-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: white;
    background-image: url("../assets/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0.5em;
  }
}

.presentation-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: white;
    background-image: url("../assets/woman.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0.5em;
  }
}

.projects-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: white;
    background-image: url("../assets/folder.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0.5em;
  }
}

.contact-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: white;
    background-image: url("../assets/contact.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0.5em;
  }
}

// HOME SECTION

.home-container {
  background-image: url(../assets/blue-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 1em;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-home {
  color: white;
}

@media screen and (min-width: 768px) {
  nav {
    width: 80%;
    margin: auto;
  }
  .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
}
