@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #f8f8f8;
}

body,
html {
  overflow-x: hidden;
}
body {
  background-color: #f8f8f8;
}

// NAVIGATION BAR MENU
.NavBar {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  overflow-x: hidden;

  .burger-menu {
    width: 100vw;
    height: 37px;
    margin-left: 5%;
    margin-top: 13px;
    cursor: pointer;

    .burger-image {
      background-image: url(../assets/menu-burger.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 40px;
    }
  }

  .menu {
    display: none;

    &.active {
      margin-left: 18px;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      max-width: 150px;

      .menu-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        font-size: 15px;

        a {
          color: black;
          font-size: 17px;
        }
        .section-menu {
          margin-top: 11px;
        }
      }
    }
  }
}

// HOME SECTION
.home {
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 11em;
  margin-left: 5%;

  &.menu-active {
    margin-top: 180px;
  }

  .fullstack {
    font-size: 30px;
    margin-bottom: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .name {
    font-size: 25px;
    letter-spacing: 7px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .surname {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .container-social {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 150px;
  }

  .github {
    background-image: url(../assets/github.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
  }

  .linkedin {
    background-image: url(../assets/linkedin.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
  }

  .email {
    background-image: url(../assets/email.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
  }
}

// PRESENTATION SECTION

.grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto;
  overflow-x: hidden;
  margin: 1em;
  margin-top: 7em;
}

.presentation-main-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 0 15px 15px 15px;

  .presentation-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}
.presentation-second-container {
  font-size: 15px;

  .presentation-one,
  .presentation-two,
  .presentation-three {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 12px;
  }
}

// TECHNICAL STACK

.technical-text-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-bottom: 5px;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  text-align: justify;

  .bullet-point {
    display: flex;
    flex-direction: row;
  }

  .technical-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .technical-text {
    font-size: 15px;
    margin-bottom: 19px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

// STACK IMAGES

.stack-container {
  grid-area: 1 / 1 / 3;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;

  .container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
  }

  .html {
    background-image: url(../assets/stack/html.png);
  }
  .css {
    background-image: url(../assets/stack/css3.png);
  }
  .javascript {
    background-image: url(../assets/stack/js.png);
  }
  .typescript {
    background-image: url(../assets/stack/typescript.png);
  }
  .react {
    background-image: url(../assets/stack/react.png);
  }
  .node {
    background-image: url(../assets/stack/nodejs.png);
  }
  .mysql {
    background-image: url(../assets/stack/mysql.png);
  }
  .postman {
    background-image: url(../assets/stack/postman.png);
  }
}

// PROJECT

.grid-container-projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  overflow-x: hidden;
  margin: 1em;
}
.project-container {
  height: auto;
  width: fit-content;
  margin: 1em;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  border-radius: 2em 2em 2em 2em;
  box-shadow: 0 0 3px 2px #d4d4d4;

  .project-title {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .project-image {
    background-image: url(../assets/street-art-devices2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 210px;
    width: 210px;
  }
  .project-image-eshop {
    background-image: url(../assets/Eshop.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 210px;
    width: 210px;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .project-description {
    font-size: 17px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 1em;
  }

  .functionnalities {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    list-style: none;
    padding-left: 20px;

    li {
      position: relative;
      margin-bottom: 5px;

      &::before {
        content: "\2022";
        position: absolute;
        left: -15px;
        color: #000;
      }
    }
  }
}

.project-use-description {
  margin: 1em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .how-to-use {
    margin-top: 1em;
  }

  .link-streetart {
    margin-top: 1em;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
  }

  .link-eshop {
    margin-top: 1em;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
  }
}

span {
  font-weight: 600;
}

// CONTACT

.contact-container {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;

  .contact-title {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .contact-details {
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  }
  .contact-link {
    color: black;
    cursor: pointer;
  }

  .signature {
    font-size: 14px;
    margin-top: 1em;
  }
}

@media screen and (min-width: 400px) {
  .home {
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 13em;
    margin-left: 5%;
  }

  .grid-container {
    margin-top: 5em;
  }
  .project-use-description {
    width: 79%;
  }
  .project-container {
    .project-image {
      height: 240px;
      width: 290px;
    }
  }
}

@media screen and (min-width: 500px) {
  .grid-container {
    margin-top: 5em;
  }
  .project-use-description {
    width: 70%;
  }
  .project-container {
    .project-image {
      height: 247px;
      width: 290px;
    }
    .project-image-eshop {
      height: 247px;
      width: 290px;
    }
  }
}

@media screen and (min-width: 600px) {
  .NavBar {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .burger-menu {
      display: none;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 10px;

        a {
          color: black;
          font-size: 17px;
          text-align: center;
          flex-grow: 1;
        }

        .section-menu {
          margin-top: 10px;
        }
        .section {
          margin-top: 10px;
        }
      }
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    // align-items: center;
    height: 380px;
    margin-left: 30%;
    .container-social {
      display: flex;
      // justify-content: space-around;
      flex-direction: row;
      align-items: center;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
    margin: 1em;
  }

  .stack-container {
    grid-area: 1 / 1 / 2 / 3;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3em;
    margin-bottom: 20px;

    .container {
      width: 50px;
      height: 50px;
    }
  }

  .presentation-main-container {
    margin-left: 17px;
    margin-top: 1em;
    padding: 2%;
    padding: 15px;
  }
  // TECHNICAL STACK

  .technical-text-container {
    margin-left: 17px;
    margin-top: 1em;
    margin-bottom: 5px;
    padding: 15px;

    .technical-title {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    .technical-text {
      font-size: 15px;
      margin-bottom: 19px;

      &.management {
        margin-bottom: 0;
      }
    }
  }

  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
  }

  .project-use-description {
    width: 75%;
    .description-text-project {
      height: 140px;
    }
  }

  .project-container {
    margin: 3em;
  }

  .functionnalities {
    margin-left: 5%;
  }

  .contact-details {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 900px) {
  .home .fullstack {
    font-size: 42px;
  }

  .home .name {
    font-size: 35px;
  }

  .home .surname {
    font-size: 35px;
  }
  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
  }

  .project-container .project-title {
    margin-top: 10px;
    font-size: 25px;
  }
  .project-image {
    height: 315px;
    width: 368px;
  }
  .list-container .project-description {
    margin-left: 3%;
    font-size: 20px;
  }

  .description-text-project {
    height: 212px;
  }

  .functionnalities {
    margin-left: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    height: 560px;
    margin-top: 17em;
  }
  .home .fullstack {
    font-size: 48px;
  }

  .home .name {
    font-size: 45px;
  }

  .home .surname {
    font-size: 39px;
  }

  .project-container {
    padding: 0;
    margin: 6em;
  }

  .presentation-second-container {
    font-size: 15px;
    line-height: 25px;
  }

  .home .container-social {
    display: flex;
    // justify-content: space-evenly;
    margin-top: 5em;
    width: 40%;
  }

  .project-container .project-title {
    margin-top: 10px;
    font-size: 30px;
  }

  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;

    .project-description {
      margin-left: 3%;
      font-size: 25px;
    }

    .functionnalities {
      margin-left: 0%;
    }
  }

  .list-container .project-description {
    font-size: 23px;
  }

  .project-use-description {
    margin-top: 2em;
    .description-text-project {
      height: 140px;
    }
  }

  .project-use-description .link-eshop {
    font-size: 30px;
  }

  .project-use-description .link-streetart {
    font-size: 30px;
  }

  .contact-container .contact-title {
    font-size: 30px;
  }

  .contact-container .contact-details {
    font-size: 16px;
  }
}
