@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

// NAVBAR MENU
.NavBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  z-index: 2;
  border-radius: 0em 0em 5em 5em;
  width: 59%;
  margin-left: 21%;
  height: 42px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    /* ajuster la taille selon l'effet désiré */
    width: 20px;
    height: 20px;
    /* optionnel: couleur de fond pour accentuer l'effet */
    background-color: white;
  }

  &::before {
    top: -7px;
    left: -3px;
    /* optionnel: changer la direction de l'extension */
    transform: rotate(63deg);
  }

  &::after {
    top: -6px;
    right: -1px;
    /* optionnel: changer la direction de l'extension */
    transform: rotate(-68deg);
  }
}

.NavBar-Container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 29px;
  border-radius: 1rem;
}

.home-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/home2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.presentation-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.projects-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/project.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.contact-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

// HOME SECTION

.home-container {
  background-image: url(../assets/blue-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  padding-top: 1em;
}

.home {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 1em;
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  nav {
    width: 80%;
    margin: auto;
  }
  .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
}
