@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #f8f8f8;
}

.NavBar {
  background-color: white;
  width: 100vw;
  height: 50px;
}
.NavBar .burger-menu {
  width: 100vw;
  height: 50px;
  margin-left: 5px;
}
.NavBar .burger-menu .burger-image {
  background-image: url(../assets/menu-burger.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.NavBar .burger-menu.active {
  background-color: #f8f8f8;
}
.NavBar .burger-menu.active + .home {
  margin-top: 50px;
}
.NavBar .menu {
  display: none;
}
.NavBar .menu.active {
  display: flex;
  flex-direction: column;
  height: 50px;
  position: absolute;
  z-index: 5;
  margin-left: 5px;
}
.NavBar .menu.active .menu-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: 5px;
}
.NavBar .menu.active .menu-container .section-menu {
  margin-top: 5px;
}
.NavBar .hidden {
  display: none;
}

.home {
  background-color: #f8f8f8;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;
  position: relative;
}
.home .fullstack {
  font-size: 30px;
  margin: 5px;
  color: black;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #f8f8f8;
}
.home .welcome {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-top: 3em;
  font-weight: 700;
  color: black;
  border-radius: 1em;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto;
  overflow-x: hidden;
  margin: 1em;
}

.presentation-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-top: 5px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 2em 2em 2em 2em;
  color: black;
  text-align: justify;
  padding: 15px;
  box-shadow: 0 0 3px 2px rgb(0, 0, 0);
}
.presentation-container .presentation-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: black;
}
.presentation-container .presentation-title2 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.technical-text-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-top: 1em;
  margin-bottom: 5px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 2em 2em 2em 2em;
  color: black;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 15px;
  box-shadow: 0 0 3px 2px rgb(0, 0, 0);
}
.technical-text-container .technical-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
  color: black;
}
.technical-text-container .technical-text {
  font-size: 15px;
  margin-bottom: 19px;
}
.technical-text-container .technical-text.management {
  margin-bottom: 0;
}

.stack-container {
  grid-area: 1/1/3;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  margin: 1em;
}
.stack-container .container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
}
.stack-container .html {
  background-image: url(../assets/stack/html.png);
}
.stack-container .css {
  background-image: url(../assets/stack/css3.png);
}
.stack-container .javascript {
  background-image: url(../assets/stack/js.png);
}
.stack-container .react {
  background-image: url(../assets/stack/react.png);
}
.stack-container .node {
  background-image: url(../assets/stack/nodejs.png);
}
.stack-container .mysql {
  background-image: url(../assets/stack/mysql.png);
}
.stack-container .postman {
  background-image: url(../assets/stack/postman.png);
}

.project-container {
  height: auto;
  width: 90%;
  margin: 1em;
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 2em 2em 2em 2em;
  color: black;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 15px;
  box-shadow: 0 0 3px 2px rgb(0, 0, 0);
  overflow-x: hidden;
  background-color: #f8f8f8;
}
.project-container .project-image {
  background-image: url(../assets/street-art-devices2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 274px;
  background-color: #f8f8f8;
}
.project-container .project-description {
  margin-top: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f8f8;
  color: black;
}
.project-container .project-use-description {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: #f8f8f8;
}
.project-container .link-streetart {
  margin-left: 30%;
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  background-color: #f8f8f8;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  overflow-x: hidden;
  margin: 1em;
}

span {
  font-weight: 500;
}

.contact-container {
  height: 100px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f8f8;
}
.contact-container .contact-title {
  margin-left: 34%;
  padding-top: 10px;
  font-size: 25px;
}
.contact-container .contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
}

@media screen and (min-width: 600px) {
  .NavBar-Container {
    background-color: #f8f8f8;
    height: 34px;
  }
  .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    color: black;
    height: 15px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
    margin: 1em;
  }
  .stack-container {
    grid-area: 1/1/2/3;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .stack-container .container {
    width: 50px;
    height: 50px;
  }
  .presentation-container {
    grid-area: 2/1/3/2;
    max-height: 250px;
    width: 92%;
    margin-left: 17px;
    margin-top: 1em;
    padding: 2%;
    text-align: justify;
    padding: 15px;
  }
  .presentation-container .presentation-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .presentation-container .presentation-title2 {
    font-size: 15px;
  }
  .technical-text-container {
    grid-area: 2/2/3/3;
    height: auto;
    width: 92%;
    margin-left: 17px;
    margin-top: 1em;
    margin-bottom: 5px;
    padding: 2%;
    padding: 15px;
  }
  .technical-text-container .technical-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .technical-text-container .technical-text {
    font-size: 15px;
    margin-bottom: 19px;
  }
  .technical-text-container .technical-text.management {
    margin-bottom: 0;
  }
  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
    margin: 1em;
  }
}/*# sourceMappingURL=main.css.map */