@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans", sans-serif;
}

// NAVBAR MENU
.NavBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  z-index: 2;
  border-radius: 0em 0em 5em 5em;
  width: 59%;
  margin-left: 21%;
  height: 42px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
  }

  &::before {
    top: -7px;
    left: -3px;
    transform: rotate(63deg);
  }

  &::after {
    top: -6px;
    right: -1px;
    transform: rotate(-68deg);
  }
}

.NavBar-Container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 29px;
  border-radius: 1rem;
}

.home-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/home2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.presentation-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.projects-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/project.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

.contact-link {
  width: 100px;
  height: 50px;

  &.active {
    background-color: #f2f2f2;
    background-image: url("../assets/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    margin: 0.5em;
  }
}

// HOME SECTION

.home-container {
  // background-image: url(../assets/blue-wallpaper.jpg);
  background: linear-gradient(-3deg, #aa97ea, #8072f0);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  margin: 1em;

  .home {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcome-title {
      font-size: 25px;
      font-style: italic;
    }
    .intro-title {
      font-size: 20px;
    }
  }
}

// PRESENTATION SECTION

.grey {
  background-image: url(../assets/grey.PNG);
  position: absolute;
  width: 71%;
  height: 8em;
  border-radius: 2em 2em 2em 2em;
  margin-left: 5em;
  // box-shadow: 0px 0px 7px 2px rgba(173, 172, 172, 0.28);

  .presentation-title1 {
    font-size: 16px;
    margin-left: 1em;
    margin-top: 0.5em;
    position: relative;
  }
}

.presentation-container {
  // background-image: url(../assets/blue-wallpaper.jpg);
  // background: linear-gradient(-3deg, #d5bde5, #ffe3e0);
  background-color: #d5bde5;
  // box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 5.5em;
  width: 68%;
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 1em 1em 1em 1em;
  margin-left: 6em;
  margin-top: 3.5em;
  padding: 3%;

  .presentation-title2 {
    color: white;
    font-size: 14px;
    text-align: justify;
  }
}

// TECHNICAL STACK

.grey-technical {
  background-image: url(../assets/grey.PNG);
  position: absolute;
  width: 76%;
  height: 20%;
  border-radius: 1em 1em 1em 1em;
  margin-left: 5em;
  margin-top: 1em;
  // box-shadow: 0px 0px 7px 2px rgba(173, 172, 172, 0.28);
}

.technical-container {
  // background-image: url(../assets/blue-wallpaper.jpg);
  // background: linear-gradient(-3deg, #d5bde5, #ffe3e0);
  background-color: #d5bde5;
  // box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
  // background-repeat: no-repeat;
  // background-size: cover;
  width: 75%;
  display: flex;
  align-items: flex-start;
  border-radius: 2em 2em 2em 2em;
  position: relative;
  margin: 2em;
  margin-left: 20%;
  margin-top: 4%;

  .technical-text-container {
    color: white;
    text-align: justify;
    margin: 7%;
    margin-top: 2em;

    .technical-title {
      font-size: 18px;
      margin-bottom: 1%;
    }

    .technical-text {
      font-size: 15px;
      margin-bottom: 1em;
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 80%;
    margin: auto;
  }
  .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
}
