@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body,
html {
  overflow-x: hidden;
}
body {
  background-color: #f8f8f8;
}

// NAVIGATION BAR MENU

.navbar-container {
  background-color: #dddddf;
  height: 60px;
}

.NavBar {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  overflow-x: hidden;
  background-color: #dddddf;

  .burger-menu {
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 16px;
    z-index: 1000;
    background-color: #dddddf;

    .burger-image {
      background-image: url(../assets/burger-menu.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 40px;
      background-color: #dddddf;
    }
  }

  .menu {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 25px;
      top: 60px;
      width: 150px;
      background-color: #f8f8f8;
      z-index: 900;

      .menu-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        font-size: 15px;

        a {
          color: black;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 15px;
        }
        .section-menu {
          margin-top: 11px;
        }
      }
    }
  }
}

.language-toggle {
  position: absolute;
  width: 45px;
  height: 25px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  right: 30px;
  top: 20px;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.2),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
}

.slider {
  height: 100%;
  width: 100%;
  color: white;
  line-height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 20px;
}

.slider.english {
  background-color: #c12358;
}

.slider.french {
  background-color: #03045e;
}

// HOME SECTION
.home {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20%;
  background-color: white;

  &.menu-active {
    margin-top: 145px;
  }

  .fullstack {
    font-size: 33px;
    margin-bottom: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .name {
    font-size: 25px;
    letter-spacing: 7px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .surname {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 29px;
  }

  .container-for-animation {
    display: flex;
    flex-direction: row;
    color: #03045e;

    .arrow {
      background-image: url(../assets/arrow.png);
      background-size: cover;
      background-repeat: no-repeat;
      height: 21px;
      width: 11px;
      margin-right: 10px;
    }
    .moving-presentation {
      height: 3px;
    }
  }

  .contact-container-home {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border: 1px outset #dddddf;
    border-radius: 13px;
  }

  .github {
    background-image: url(../assets/github-color.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    margin: 6px 25px 6px 6px;
    border-radius: 13px;
  }

  .email {
    background-image: url(../assets/email-color.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin: 6px 25px 6px 6px;
  }

  .linkedin {
    background-image: url(../assets/linkedin-color.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
    margin: 6px 6px 6px 6px;
  }
}

// PRESENTATION SECTION

.grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto;
  overflow-x: hidden;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(221, 221, 223, 1) 100%
  );

  .presentation-main-container {
    height: auto;
    width: 92%;
    margin-left: 17px;
    // margin-top: 5px;
    padding: 10px 15px 15px 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    .presentation-title {
      font-size: 20px;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      // color: #00388e;
      // color: black;
    }
    .presentation-second-container {
      font-size: 15px;
      margin-bottom: 20px;
      .presentation-one,
      .presentation-two,
      .presentation-three {
        margin-bottom: 12px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
    }
  }
}

// STACK IMAGES

.stack-container {
  grid-area: 1 / 1 / 3;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-left: 23px;

  .container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
  }

  .html {
    background-image: url(../assets/stack/html-1.svg);
    width: 34px;
    height: 39px;
  }
  .css {
    background-image: url(../assets/stack/css-3.svg);
    width: 34px;
    height: 39px;
  }
  .javascript {
    background-image: url(../assets/stack/javascript-1.svg);
    width: 34px;
    height: 39px;
  }
  .typescript {
    background-image: url(../assets/stack/typescript-2.svg);
  }
  .react {
    background-image: url(../assets/stack/react-2.svg);
  }
  .node {
    background-image: url(../assets/stack/nodejs-icon.svg);
    width: 33px;
    height: 36px;
  }
  .express {
    background-image: url(../assets/stack/express-109.svg);
  }
  .mysql {
    background-image: url(../assets/stack/mysql-2.svg);
    width: 40px;
    height: 40px;
  }
  .postman {
    background-image: url(../assets/stack/postman.svg);
    width: 37px;
    height: 37px;
  }
}

// TECHNICAL STACK

.expertise-category-container {
  height: auto;
  width: 92%;
  margin-left: 17px;
  margin-bottom: 5px;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  text-align: justify;

  .bullet-point-image {
    display: flex;
    flex-direction: row;
  }

  .expertise-category-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    // color: #00388e;
  }

  .technical-text {
    font-size: 15px;
    margin-bottom: 19px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

// PROJECT

.grid-container-projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  overflow-x: hidden;
  padding: 1em;
  justify-items: center;
  background-color: white;
}

.projects-introduction-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: white;
}

.global-projects-container {
  height: auto;
  width: fit-content;
  margin: 1em;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;

  .project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #03045e;
    box-shadow: #ccc;
  }

  .project-image {
    height: 220px;
    width: 290px;
  }

  .project-short-description {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;

    .how-to-use {
      margin-top: 1em;
    }
  }
  .container-for-lists {
    width: 100%;
    .technology-list-container {
      .technology-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-bottom: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 1em;
        margin-top: 2em;
        padding: 3px;
        color: white;
        background-color: #7b0063;
        border-radius: 7px;
        box-shadow: #ccc;
      }

      .technologies {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 6em;
      }

      li {
        position: relative;
        margin-bottom: 5px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        text-align: center;

        &::before {
          content: "\2022";
          position: absolute;
          left: -15px;
          color: #000;
        }
      }
    }
  }

  .functionnalities-list-container {
    .functionnalites-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      margin-bottom: 1em;
      margin-top: 2em;
      padding: 3px;
      color: white;
      background-color: #ed6a4a;
      border-radius: 7px;
      box-shadow: #ccc;
    }

    .functionalities {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 1em;
    }
    li {
      position: relative;
      margin-bottom: 5px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;

      &::before {
        content: "\2022";
        position: absolute;
        left: -15px;
        color: #000;
      }
    }
  }
  .link {
    margin-top: 1em;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #03045e;
  }
}

// CONTACT

.contact-container {
  // height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  background-color: #dddddf;

  .contact-title {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .contact-details {
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  }
  .contact-link {
    color: #0000d1;
    font-weight: bold;
    cursor: pointer;
  }

  .signature {
    font-size: 14px;
    margin-top: 1em;
    color: #03045e;
  }
}

@media screen and (min-width: 400px) {
  //PROJECT
  .global-projects-container
    .container-for-lists
    .technology-list-container
    .technologies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8em;
  }

  .global-projects-container .functionnalities-list-container .functionalities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
  }
}

@media screen and (min-width: 500px) {
  .home {
    padding-left: 22%;
  }

  //PROJECT
  .global-projects-container
    .container-for-lists
    .technology-list-container
    .technologies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10em;
  }
}

@media screen and (min-width: 600px) {
  //NAVBAR SECTION
  .navbar-container {
    height: 44px;
  }
  .NavBar {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .burger-menu {
      display: none;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 10px;

        a {
          color: black;
          font-family: "Montserrat", sans-serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          font-size: 17px;
          text-align: center;
          flex-grow: 1;
        }

        .section-menu {
          margin-top: 10px;
        }
        .section {
          margin-top: 10px;
        }
      }
    }
  }

  //HOME SECTION
  .home {
    .fullstack {
      font-size: 37px;
    }
  }

  .language-toggle {
    top: 11px;
  }

  //PRESENTATION SECTION

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
    padding: 1em;
    background-color: #dddddf;

    .presentation-main-container {
      height: auto;
      width: 92%;
      margin-left: 17px;
      padding: 0px 15px 15px 20px;
    }

    .technical-text-container {
      margin-left: 17px;
      margin-top: 1em;
      margin-bottom: 5px;
      padding: 15px;

      .technical-title {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 500;
      }

      .technical-text {
        font-size: 15px;
        margin-bottom: 19px;

        &.management {
          margin-bottom: 0;
        }
      }
    }
  }

  //STACK CONTAINER
  .stack-container {
    grid-area: 1 / 1 / 2 / 3;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0px;
    margin-bottom: 4em;

    .container {
      width: 50px;
      height: 50px;
    }

    .html {
      background-image: url(../assets/stack/html-1.svg);
      width: 43px;
      height: 50px;
    }
    .css {
      background-image: url(../assets/stack/css-3.svg);
      width: 43px;
      height: 50px;
    }
    .javascript {
      background-image: url(../assets/stack/javascript-1.svg);
      width: 43px;
      height: 50px;
    }

    .node {
      background-image: url(../assets/stack/nodejs-icon.svg);
      width: 46px;
      height: 50px;
    }

    .mysql {
      background-image: url(../assets/stack/mysql-2.svg);
      width: 50px;
      height: 50px;
    }
    .postman {
      background-image: url(../assets/stack/postman.svg);
      width: 50px;
      height: 50px;
    }
  }

  //PROJECT
  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
  }

  .global-projects-container .project-image {
    height: 245px;
    width: 330px;
  }
  .project-short-description {
    height: 100px;
  }
  .technology-list-container {
    height: 175px;
  }
  .functionnalities-list-container {
    height: 215px;
  }

  .contact-details {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 900px) {
  //NAVBAR
  .NavBar {
    .menu {
      width: 80%;
    }
  }
  //HOME SECTION
  .home {
    padding-left: 28%;
    .fullstack {
      font-size: 42px;
    }
    .name {
      font-size: 35px;
    }
    .surname {
      font-size: 35px;
    }

    .contact-container-home {
      .github {
        height: 33px;
        width: 33px;
      }
      .email {
        height: 33px;
        width: 33px;
      }

      .linkedin {
        height: 37px;
        width: 37px;
      }
    }
  }

  //PROJECTS
  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;
  }
  .container-for-lists {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;

    .technology-list-container {
      display: flex;
      flex-direction: column;
      height: 400px;
      width: 80%;
    }

    .functionnalities-list-container {
      width: 80%;
    }
  }

  .global-projects-container
    .container-for-lists
    .technology-list-container
    .technologies {
    padding-left: 1em;
  }
}

@media screen and (min-width: 1200px) {
  //NAVBAR

  .NavBar {
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 68%;
    }
    .language-toggle {
      width: 50px;
      height: 26px;
    }
  }
  //HOME SECTION
  .home {
    padding-left: 32%;

    .fullstack {
      font-size: 53px;
    }
    .name {
      font-size: 45px;
    }
    .surname {
      font-size: 39px;
    }
  }

  .project-container {
    padding: 0;
    margin: 6em;
  }

  .presentation-second-container {
    font-size: 15px;
    line-height: 25px;
  }

  // .home .container-social {
  //   display: flex;
  //   // justify-content: space-evenly;
  //   margin-top: 5em;
  //   width: 40%;
  // }

  .presentation-main-container {
    padding: 50px;
  }

  .presentation-main-container .presentation-title {
    font-size: 22px;
  }

  .technical-text-container {
    padding: 50px;
  }
  .technical-title {
    font-size: 20px;
  }

  .technical-text {
    line-height: 25px;
  }

  .project-container .project-title {
    margin-top: 10px;
    font-size: 30px;
  }

  .project-container .project-image-eshop {
    height: 281px;
    width: 383px;
  }

  .project-container .project-image {
    height: 292px;
    width: 386px;
  }

  .technologies-title {
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .grid-container-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    overflow-x: hidden;

    .project-description {
      margin-left: 3%;
      font-size: 25px;
    }

    .functionnalities {
      margin-left: 0%;
    }
  }

  .list-container .project-description {
    font-size: 23px;
  }

  .project-use-description {
    margin-top: 2em;
    width: 83%;
    height: 180px;

    .description-text-project {
      height: 140px;
    }
  }

  .project-use-description .link-eshop {
    font-size: 30px;
  }

  .project-use-description .link-streetart {
    font-size: 30px;
  }

  .contact-container .contact-title {
    font-size: 30px;
  }

  .contact-container .contact-details {
    font-size: 16px;
  }
}
